@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

a{
  color:black;
}

.brand-logo, h2{
  font-family: 'Grand Hotel', cursive;
}

.card{
    margin: 30px auto;
    max-width: 418px;
    max-height: 743px;
    padding: 1px;
    
}

.btn{
  margin : 17px 0;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(24, 73, 236) !important;
    box-shadow: 0 1px 0 0 rgb(24, 73, 236) !important;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(24, 73, 236) !important;
    box-shadow: 0 1px 0 0 rgb(24, 73, 236) !important;
}

.heart-icon{
  color: red;
  display: inline;
}

.post-image{
  max-height: 400px;
}

.password-validation{
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    line-height: 0;
    border: 1px solid black;
    padding: 3px;
}

.placeicon{
  /* font-family: fontawesome !important; */
}

/* https://fontawesome.com/cheatsheet?from=io */

.form-heading{
  margin: 17px auto;
}
.btn{
      margin: 10px auto 2px;
}
.logout{
  margin: 0 40px 0 0;
}

/* *************************** */
/* Profile Page Styling Starts */

.profile{
  max-width: 65%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;

}
.profile-top-container{
  display: flex;
  justify-content: space-around;
  margin: 18px 0;
  padding-bottom: 18px;
  border-bottom: 1px solid grey;
}
.profile-image{
  width: 160px;
  height: 160px;
  border-radius:80px;
}
.profile-data{
  display: flex;
  justify-content: space-around;
  width: 108%;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 9%;
}
.item{
  height: 225px;
  width: 30%;
  margin: 10px;
}

/* Profile Page Styling Ends */
/* *************************** */

/*Home Page Styling starts*/
/* .like-dislike{
    border: 2px solid black;
    padding: 2px;
    width: 107%;
} */

.comment-name{
  font-weight: 500;
}

.deletePostIcon{
  float: right;
}

.material-icons:hover{
  cursor: pointer;
}

.collection-item{
  width: 100%;
}

.logo-navbar{
    width: 139px;
    height: 50px;
    margin: 4px;
    margin-left: 48px;
}

.logo-signin{
  width: 85%;
  height: 100%;
  margin: auto;
  margin-bottom: 32px;
}
.signin-card{
  padding: 64px;
  padding: 20px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  
}
/* .show{
  display: ;
}

.hide{
  display: none;
} */

.fa-eye{
    position: relative;
    top: -34px;
    right: -175px;
}

input[type="text"]{
  font-family: 'Montserrat', sans-serif;
}
input[type="email"]{
  font-family: 'Montserrat', sans-serif;
}
input[type="password"]{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
}
.navbar-ele{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-right: 18px;
}
.input-field{
  /* margin-top:0 !important; */
}

.password-field{
  margin-bottom: 3px;
}
.reset-password{
  margin: 30px;
}

button{
  font-family: 'Montserrat', sans-serif;
}

.right{
  margin-right: 50px;
}
.home-card{
  font-family: 'Montserrat', sans-serif;
  padding: 5px 10px;
}

.home-card:hover {
  box-shadow: 3px 8px 39px 5px rgba(0,0,0,.1);
}

.create-post{
    margin: 7% auto;
    padding: 4%;
    text-align: center;
    border-radius: 17px;
}

.right-bio-container{
  position:relative;
  right:212px;
}

.shift-right{
  margin-left: 206px;
}

i.fas.fa-eye.eye-icon::before{
    position: relative !important;
    top: -37px !important;
    right: -119px !important;
}